@import url('default.css');


header { /* "body" 를 기준으로 정렬 */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; /* "position: absolute" 를 주면 요소가 "inline-block" 이 된 것처럼 내부에 콘텐츠가 존재하는만큼의 넓이만 갖는다. */
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #fff;
}
header h1 {
    float: left;
    margin: 36px 267px 0 0;
}
header h1 a {
    display: block;
    width: 187px;
    height: 31px;
    background: url(../images/logo_w.svg) no-repeat center center / 100%; /* "logo" 를 영역에 꽉 차게 하기 위해서 "size" 를 넓이 100% (높이는 따로 지정하지않으면 알아서 조정되기 때문에 기입 X), "cover" 는 배경을 영역에 빈틈없이 채우는 것이기 때문에 로고가 짤림. */
    font-size: 0;
    line-height: 0; /* 접근성 때문에 로고의 대체 텍스트로 쓸 글자 숨김 */
}
header .gnb {
    float: left;
    margin: 24px 0 0 0;
}
header .gnb button {
    display: none; /* 모바일에서만 표시되는 버튼 (메뉴 여는 버튼) */
}
header .gnb ul li {
    float: left;
}
header .gnb ul li a {
    display: block;
    padding: 10px 30px;
    font-size: 22px;
}
header .tnb {
    float: right;
    margin: 23px 0 0 0;
}
header .tnb ul li {
    float: left;
}
header .tnb ul li button span {
    display: none; /* 설명 문구 숨김 */
}
header .tnb ul li button i {
    padding: 10px;
    font-size: 34px;
    font-weight: 300;
}
@media screen and (max-width:640px) {
    header { /* "body" 를 기준으로 정렬 */
        height: 45px;
    }
    header h1 {
        margin: 13px 0 0 0;
    }
    header h1 a {
        width: 114px;
        height: 19px;
    }
    header .gnb {
        float: right;
        margin: 11px 0 0 8px;
    }
    /*
        h1 / gnb / tnb
        코딩 순서가 위와 같을 때
        모든 요소에 "float: right" 를 주면
        화면에 나타나는 순서는
        tnb / gnb / h1 이 된다.
        --> "float: right" 를 먼저 선언한 요소가 오른쪽 자리를 선점
    */
    header .gnb button {
        display: block; /* 모바일에서만 표시되는 버튼 (메뉴 여는 버튼) */
    }
    header .gnb button span {
        display: none;
    }
    header .gnb button i {
        font-size: 24px;
        font-weight: 300;
    }
    header .gnb ul {
        display: none;
    }
    header .tnb {
        margin: 11px 0 0 0;
    }
    header .tnb ul li.mypage {
        display: none;
    }
    header .tnb ul li button i {
        padding: 0;
        font-size: 24px;
    }
}


.visual {
    height: 870px;
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
    text-align: center;
}
.visual h2 {
    padding: 366px 0 9px 0;
    font-size: 50px;
    font-weight: 400;
}
.visual p {
    font-size: 17px;
}
.visual .txt_mobile { /* 모바일에서만 보이는 글자이기 때문에 숨김 처리 */
    display: none;
}
@media screen and (max-width:640px) {
    .visual {
        height: auto;
        padding-bottom: 79px;
    }
    .visual h2 {
        padding: 115px 0 10px 0;
        font-size: 30px;
        font-weight: 700;
    }
    .visual h2 span {
        display: block;
    }
    .visual p {
        font-size: 13px;
    }
    .visual .txt_pc {
        display: none;
    }
    .visual .txt_mobile { /* 모바일에서만 보이는 글자이기 때문에 숨김 처리 */
        display: block;
    }
}


.book {
    margin: 113px 0 140px 0;
}
.book .tit {
    float: left;
}
.book .tit h2 {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
}
.book .tit p {
    margin: 17px 0 27px 0;
}
.book .tit .btn button {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    border: 1px solid #666;
}
.book .tit .btn button span {
    display: none;
}
.book .tit .btn button i {
    margin: 8px 0 0 0px;
    font-size: 24px;
    font-weight: 300;
    color: #666;
}
/*
    컨텐츠 영역 밖으로 나가는 리스트 - 스크롤 (모바일)
    1. "ul" 을 감싸는 "div" 가 있어야함.
    2. "ul" 을 감싸는 "div" 는 "overflow: auto" 값을 가지고 있어야함. (모바일에서만)
    3. 넓이와 높이를 입력해주어야함.
    4. "ul" 은 "li" 전체의 넓이를 가져야함. / 모든 "li" 는 한줄로 들어가야한다는 의미
    5. "ul" 은 "position: absolute" 값을 가지고 있어야함. (모바일에서만) / 좌우 슬라이드는 "absolute" 만 가능
*/
.book .list {
    margin-left: 330px;
    /* ↑ 왼쪽 요소는 "float: left" 를 줌
        오른쪽 요소는 "margin-left" 로 왼쪽 요소의 넓이만큼을 여백으로 준다.
        오른쪽 요소는 "block" 이다.
        오른쪽 요소가 왼쪽 요소를 인지하지 못하고 위로 올라오는 것.    
    */
}
.book .list ul {
    width: 1980px; /* 모든 "li" 가 한줄로 들어갈 수 있는 넓이 */
}
.book .list ul li {
    float: left;
    width: 290px;
    margin-right: 40px;
}
.book .list ul li a {
    display: block;
}
.book .list ul li a img {
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}
.book .list ul li a .subject {
    display: block;
    margin: 9px 0 0 0;
    font-size: 20px;
    font-weight: 400;
    /* ↓ 무조건 1줄로 표시 (넓이가 있어야 하고 "block" 요소여야함.) */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .list ul li a .writer {
    display: block;
    margin: 5px 0 24px 0;
    color: #666;
}
.book .list ul li a .cnt {
    display: block;
    /* ↓ 여러 줄로 표시 */
    line-height: 1.5;
    height: 4.5em; /* 행간 * 원하는 줄 수 */
    overflow: hidden;
}
@media screen and (max-width:640px) {
    .book {
        margin: 26px 0;
    }
    .book .tit {
        float: none;
    }
    .book .tit h2 {
        float: left;
        font-size: 25px;
    }
    .book .tit p {
        display: none;
    }
    .book .tit .btn {
        float: right;
        margin: 7px 0 0 0;
    }
    .book .tit .btn button {
        width: 24px;
        height: 24px;
        margin-right: 3px;
    }
    .book .tit .btn button i {
        margin: 4px 0 0 0;
        font-size: 14px;
        font-weight: 300;
        color: #666;
    }
    .book .list {
        overflow-x: auto;
        overflow-y: hidden; /* 가로 스크롤바가 생성되면 가로 스크롤바만큼 높이가 줄어서 세로 스크롤바가 생성되기 때문에 "y" 값에 "hidden" 을 주어 방지 */
        width: calc(100% + 20px); /* "calc" 는 넓이나 높이의 수치를 계산할 때 사용, 대부분 "%" 와 "px" 를 혼용할 때 사용, "list" 와 "100%" 를 주면 "wrapper" 가 좌우에 여백 "20px" 을 준 안쪽으로 넓이가 생성된다. 그런데 오른쪽만 콘텐츠 영역 밖으로 더 나가고자하면 "calc(100% + 20px)" */
        padding: 30px 0;
        margin-left: 0;
    }
    .book .list ul {
        width: 1020px;
    }
    .book .list ul li {
        width: 150px;
        margin-right: 20px;
    }
    .book .list ul li a img {
        width: 100%;
    }
    .book .list ul li a .subject {
        margin: 10px 0 10px 0;
        font-size: 15px;
        font-weight: 400;
        white-space: normal;
        line-height: 1.5;
        height: 3em;
        text-overflow: ellipsis;
    }
    .book .list ul li a .writer {
        display: block;
        margin: 0;
        color: #666;
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .book .list ul li a .cnt {
        display: none;
        font-size: 13px;
    }
}


.interview {
    padding: 0 0 143px 0;
    background-color: #F8F5F0;
}
.interview h2 {
    padding: 79px 0 56px 0;
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
}
.interview .colgroup {
    position: relative; /* "pic_box" 의 정렬 기준점 */
}
.interview .pic_box {
    position: absolute;
    left: 0;
    top: 48px;
}
.interview .cnt_box {
    height: 382px;
    margin: 0 0 0 70px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.interview .cnt_box .inner {
    padding: 48px 55px 0 610px;
}
.interview .cnt_box h3 {
    font-size: 30px;
    font-weight: 400;
}
.interview .cnt_box p {
    padding: 23px 0 31px 0;
}
.interview .cnt_box a {
    display: block;
    width: 160px;
    height: 40px;
    padding: 0 2px 0 12px;
    line-height: 40px; /* 버튼 디자인에서 글자를 위아래 중앙에 배치하기 위해서는 행간을 높이값과 동일하게 주는 것이 가장 쉬운 방법이다. */
    white-space: nowrap; /* 행간을 높이값과 동일하게 주었을 때, 글자가 길어서 2줄로 변하는 것을 방지하기위해 주는 값 */
    border: 1px solid #666;
}
.interview .cnt_box a span {
    float: left;
}
.interview .cnt_box a i {
    float: right;
    margin: 7px 0 0 0;
    color: #666;
    font-weight: 300;
}
@media screen and (max-width:640px) {
    .interview {
        padding: 0 0 30px 0;
    }
    .interview h2 {
        padding: 30px 0;
        font-size: 25px;
    }
    .interview .pic_box {
        position: relative;
        left: auto;
        top: auto;
    }
    .interview .pic_box img {
        width: 100%;
    }
    .interview .cnt_box {
        height: auto;
        margin: 0;
        background-color: transparent;
        box-shadow: none;
    }
    .interview .cnt_box .inner {
        padding: 0;
    }
    .interview .cnt_box h3 {
        margin: 20px 0;
        font-size: 20px;
    }
    .interview .cnt_box p {
        display: none;
        padding: 0;
    }
    .interview .cnt_box a {
        display: block;
        width: 160px;
        height: 40px;
        padding: 0 2px 0 10px;
        line-height: 40px; /* 버튼 디자인에서 글자를 위아래 중앙에 배치하기 위해서는 행간을 높이값과 동일하게 주는 것이 가장 쉬운 방법이다. */
        white-space: nowrap; /* 행간을 높이값과 동일하게 주었을 때, 글자가 길어서 2줄로 변하는 것을 방지하기위해 주는 값 */
        border: 1px solid #666;
    }
    .interview .cnt_box a span {
        float: left;
    }
    .interview .cnt_box a i {
        float: right;
        margin: 10px 1px 0 0;
        font-size: 18px;
    }
}


.news {
    margin: 126px 0 155px 0;
}
.news .tit h2 {
    float: left;
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
}
.news .tit .btn {
    float: right;
    margin: 27px 0 0 0;
}
.news .tit .btn button {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border: 1px solid #666;
}
.news .tit .btn button:last-child {
    margin-right: 0;
}
.news .tit .btn button span {
    display: none;
}
.news .tit .btn button i {
    margin: 8px 0 0 0px;
    font-size: 24px;
    font-weight: 300;
    color: #666;
}
.news .list ul {
    width: 2640px;
    margin: 31px 0 0 -330px;
}
.news .list ul li {
    float: left;
    width: 290px;
    margin: 0 40px 0 0;
}
.news .list ul li a {
    display: block;
}
.news .list ul li a img {
    width: 100%;
}
.news .list ul li a .subject {
    display: block;
    margin: 19px 0 11px 0;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.5;
    height: 3em;
    overflow: hidden;
}
.news .list ul li a .cnt {
    display: block;
    line-height: 1.5;
    max-height: 4.5em;
    overflow: hidden;
}
@media screen and (max-width:640px) {
    .news {
        margin: 24px 0 0 0;
    }
    .news .tit h2 {
        font-size: 25px;
    }
    .news .tit .btn {
        margin: 0;
    }
    .news .tit .btn button {
        width: 24px;
        height: 24px;
        margin: 7px 3px 0 0;
    }
    .news .tit .btn button i {
        margin: 4px 0 0 0;
        font-size: 14px;
        font-weight: 300;
        color: #666;
    }
    .news .list {
        overflow-y: hidden;
        overflow-x: auto;
        width: calc(100% + 40px);
        padding: 30px 0 30px 0;
        margin: 0 0 0 -20px;
    }
    .news .list ul {
        width: 1760px;
        margin: 0 0 0 20px;
    }
    .news .list ul li {
        width: 200px;
        margin: 0 20px 0 0;
    }
    .news .list ul li a .subject {
        margin: 10px 0 10px 0;
        font-size: 15px;
    }
}


footer {
    padding: 79px 0 67px 0;
    background-color: #756752;
    color: rgba(255,255,255,0.8)
}
footer .flogo {
    float: left;
}
footer .flogo img {
    width: 180px;
    opacity: 0.8;
}
footer .fnav {
    float: left;
    margin: 0 121px 0 98px;
}
footer .fnav ul li a {
    display: block;
    line-height: 25px;
}
footer .sns {
    float: right;
    font-size: 0;       /* 글자 없애기 */
    line-height: 0;     /* 글자 없애기 */
}
footer .sns a {
    display: inline-block;
    width: 40px;
    height: 40px;
}
footer .sns a.insta {
    background: url(../images/sns_insta.svg) no-repeat center center;
}
footer .sns a.facebook {
    background: url(../images/sns_facebook.svg) no-repeat center center;
}
footer .sns a.naver {
    background: url(../images/sns_naver.svg) no-repeat center center;
}
footer .copyright {
    float: left;
    line-height: 25px;
}
@media screen and (max-width:640px) {
    footer {
        padding: 30px 0 60px 0;
        text-align: center;
    }
    footer .flogo {
        float: none;
    }
    footer .flogo img {
        width: 180px;
    }
    footer .fnav {
        float: none;
        margin: 30px 0 30px 0;
    }
    footer .sns {
        float: none;
    }
    footer .sns a {
        width: 25px;
        height: 25px;
    }
    footer .sns a.insta {
        background-size: 19px auto; /* "background-size" : "%" 로 주면 "background" 가 들어간 영역의 넓이의 "%" 로 적용됨. 원래 배경 이미지의 비율로 계산 X */
    }
    footer .sns a.facebook {
        background-size: 9px auto;
    }
    footer .sns a.naver {
        background-size: 14px auto;
    }
    footer .copyright {
        float: none;
        margin: 31px 0 0 0;
        line-height: 20px;
    }
}