/* 모든 페이지에 공통 들어가는 스타일 (header/footer) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
html, body {
    color: #3D3D3D;
    line-height: 1.5;
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    font-size: 15px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all; /* 단어별 줄바꿈 */
}
#wrap { /* id="wrap" */
    overflow: hidden;
    position: relative;
    min-width: 320px;
}
/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    /* 1400px 이하부터 320px까지 모든 사이즈 반응형 
       1400px 일때에도 좌우에 여백은 유지해야함 
       (1400이상에서 1400px이하로 변경되는 점 - 반응형으로 전환되는점)
       부드럽게 여백을 유지하면서 전환
       원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
       1400px이 콘텐츠 영역인데 왼쪽 20 + 오른쪽 20 = 1440px이 넓이
       padding으로 좌우에 여백을 20px씩 줌  */
}
@media screen and (max-width:1000px){
    html, body {
        font-size: 14px;
    }
}
@media screen and (max-width:640px){
    html, body {
        font-size: 13px;
    }
}/* media 종료 */
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

/* wrapper와 동일한 사이즈를 갖은 position:relative를 요소는
   cnt_wrap 클래스 줌 */
.cnt_wrap {
    position: relative;
}

.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000000000;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #0059A8;
    color: #FFF;
    text-align: center;
}
.skip_nav a:focus {
    top: 0;
}

/*
    브라우저에서 글자를 드래그했을 때, 드래그한 영역의 색과 글자색
    -moz, -webkit이 앞에 붙은 속성은 표준화 되지 않은 속성
*/


::selection{background:#ED1B2D;color:#fff;}
::-moz-selection{background:#ED1B2D;color:#fff;}
::-webkit-selection{background:#ED1B2D;color:#fff;}

.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #fff;
    border-bottom: 1px solid #ccc;
}
.header .logo {
    float: left;
    margin: 27px 0 0 26px;
}
.header .logo a {
    display: block;
    width: 229px;
    height: 47px;
    background-image: url(../images/common/logo_w.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    line-height: 0;
}
.header .gnb {
    float: right;
    margin: 0 50px 0 0;
}
.header .gnb .gnb_open {
    display: none;
}
.header .gnb ul li {
    float: left;
}
.header .gnb ul li a {
    display: block;
    padding: 0 50px;
    font-size: 20px;
    line-height: 100px;
    /*
        header의 높이값, 글자를 위아래 가운데 배치하기위해 높이와 동일한 line-height 값을 줌
    */
}
/* header가 고정일 때 */
.header.black {
    border-bottom: 1px solid #ccc;
    /* background-color: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1); */
    color: #3D3D3D;
}
.header.black .logo a {
    background-image: url(../images/common/logo.svg);
}

/*
    반응형 사이즈 단계별 조절
    1440px
    1280px
    1024px
    800px
    640px
*/
@media screen and (max-width:1280px){
    .header .gnb ul li a {
        padding: 0 40px;
        font-size: 18px;
    }
}
@media screen and (max-width:1024px){
    .header .gnb ul li a {
        padding: 0 30px;
        font-size: 16px;
    }
}
@media screen and (max-width:800px){
    .header .gnb ul li a {
        padding: 0 20px;
        font-size: 14px;
    }
}
@media screen and (max-width:640px){
    .header {
        height: 60px;
    }
    .header .logo {
        margin: 18px 0 0 20px;
    }
    .header .logo a {
        width: 122px;
        height: 25px;
    }
    .header .gnb {
        margin: 0;
    }
    .header .gnb .gnb_open {
        display: block;
        padding: 24px 20px 21px 20px;
    }
    .header .gnb .gnb_open span {
        display: block;
        width: 15px;
        height: 2px;
        margin-bottom: 3px;
        border-radius: 1px; /* 높이의 절반 */
        background-color: #fff;
        font-size: 0;
        line-height: 0;
    }
    .header .gnb ul {
        display: none;
    }
    .header.black .gnb .gnb_open span {
        background-color: #3d3d3d;
    }
} /* header 반응형 종료 */