@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');

/* 모든 태그에 브라우저에서 주는 여백을 삭제 */
body, header, footer, div, nav, section, h1, h2, h3, h4, h5, h6, button, a, ul, li, address, strong, span, em, p, i {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* "width / height" 와 "padding" 이 결합되면 사이즈가 늘어나는데 이걸 막기 위한 스타일
                                "padding" 을 줘도 "width / height" 가 유지됨 */
}
/* "a" 태그에 브라우저가 주는 기본 속성 초기화 */
a {
    color: inherit;
    text-decoration: none;
}
/* 브라우저에서 기울임을 주는 것을 초기화 */
em, address {
    font-style: normal;
}
/* 항목 앞에 동그라미 삭제 */
ul, li {
    list-style: none;
}
button {
    background-color: transparent; /* 투명 */
    border: 0;
    color: inherit;
    font-family: inherit; /* 서체 상속 ("button" 태그는 "form" 태그여서 "body" 에서 지정한 서체를 상속받지 않기 때문) */
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    cursor: pointer; /* 마우스 오버 시 손바닥 모양 */
}
html, body {
    color: #3d3d3d;
    line-height: 1.5;
    font-family: 'Montserrat', 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    /* ↑ 폰트 적용 우선 순위
        을유 웹폰트 우선 적용, 만약 웹폰트가 지원되지 않는다면 그 다음 선언된 폰트가 적용된다.
        "apple sd gothic" 은 애플에서 지원하는 폰트 (맥, 아이폰 등) */
    font-size: 15px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all;
}
#wrap { /* "id = wrap" */
    overflow-x: hidden;
    min-width: 1280px;   /* 브라우저에 가로 스크롤이 생겼을 때, 배경이 짤리지 않기 위해 최소 넓이를 지정함 */
}
/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 1280px;
    margin: 0 auto;
}
@media screen and (max-width:640px) {
    /* 640px 이하의 디바이스에서만 아래 css가 적용
        PC에서는 1280px이라는 콘텐츠 고정 넓이가 존재했지만
        모바일에서는 디바이스 넓이에 맞춰서 꽉 차게 구현해야함
        구현하는 방식이 달라서 고정값들은 모두 삭제*/
    html, body {
        font-size: 13px;
    }
    #wrap { /* "id = wrap" */
        overflow-x: hidden;
        min-width: auto;
    }
    .wrapper {
        width: auto;
        margin: 0 20px;
    }
}
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}