/* 콘텐츠 페이지 스타일 */




/* 소개의장 > 인사말 */
.cnt_greeting {
    margin: 0 0 150px 0;
}
.cnt_greeting .tit {
    margin: 0 0 40px 0;
    font-size: 20px;
}
.cnt_greeting .tit strong {
    color: #004485;
    font-weight: 700;
}
.cnt_greeting .bg {
    position: relative;
    width: calc(50% + 700px); /* 콘텐츠 영역의 넓이 1400px 절반 700px */
    left: calc(50% - 700px);
    height: 350px;
    background: url(../images/contents/greeting_img1.png) no-repeat center top 8% / cover;
}
.cnt_greeting .txt_wrap {
    margin: 40px 0 0 0;
}
.cnt_greeting .txt_wrap .colgroup1 {
    float: left;
    width: 660px;
}
.cnt_greeting .txt_wrap .colgroup2 {
    float: right;
    width: 660px;
}
.cnt_greeting .txt_wrap p {
    text-align: justify; /* 양쪽 정렬 */
    word-break: normal; /* 단어별로 줄바꿈 해제 - word-break: keep-all 유지하면 자간이 늘어남 */
}
.cnt_greeting .txt_wrap .sign {
    margin: 70px 0 0 0;
    font-size: 25px;
    text-align: right;
}
@media screen and (max-width:640px) {
    .cnt_greeting {
        margin: 0 0 150px 0;
    }
    .cnt_greeting .tit {
        margin: 0 0 30px 0;
    }
    .cnt_greeting .bg {
        width: 100%; /* 콘텐츠 영역의 넓이 1400px 절반 700px */
        left: auto;
    }
    .cnt_greeting .txt_wrap {
        margin: 30px 0 0 0;
    }
    .cnt_greeting .txt_wrap .colgroup1 {
        float: none;
        width: auto;
    }
    .cnt_greeting .txt_wrap .colgroup2 {
        float: none;
        width: auto;
    }
    .cnt_greeting .txt_wrap p {
        text-align: left; /* 양쪽 정렬 */
        word-break: keep-all; /* 단어별로 줄바꿈 해제 - word-break: keep-all 유지하면 자간이 늘어남 */
    }
    .cnt_greeting .txt_wrap .sign {
        margin: 50px 0 0 0;
        font-size: 20px;
    }
}