@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR);

body, section, p, div, ul, li {      /* body, section 등의 모든 태그의 모든 여백 삭제 */
    padding: 0;
    margin: 0;
}
ul, li {
    list-style: none;       /* "ul" 태그 앞 동그라미 삭제 */
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font: 400;
    line-height: 1.5;
    color: #3d3d3d;
    letter-spacing: -0.05em;
}
.wrapper {
    width: 1280px;
    margin: 0 auto;
}


.visual {
    background-image: url(../images/visula_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 1080px;
    padding: 300px 0 0 0;
    box-sizing: border-box;
    /* "width / height"와 "padding"을 동시에 선언해도 사이즈가 늘어나지 않음 */
}
.visual p {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 50px 0;
}
.visual a {
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 25px;      /* 보통 "border" 높이의 절반 */
    padding: 10px 40px;
    display: inline-block;      /* 인라인 요소 "a" 태그에 "padding / border"를 적용하기 위해서 준 값 */
}


.intro {
    text-align: center;      /* 자손요소를 가운데 정렬 - 자신은 제외 */
    margin: 100px 0 100px 0;
}
.intro strong {
    font-weight: 700;
}
.intro p {
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
    margin: 30px 0 40px 0;
}
.intro p span {
    color: #999999;
}
.intro a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #3D3D3D;
    border-radius: 25px;      /* 보통 "border" 높이의 절반 */
    padding: 10px 40px;
    display: inline-block;      /* 인라인 요소 "a" 태그에 "padding / border"를 적용하기 위해서 준 값 */
}


.service {
    background-color: #F4F4F4;
    padding: 160px 0 160px 0;
}
.service strong {
    font-weight: 700;
}
.service p {
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
    margin: 30px 0 40px 0;
}
.service p span {
    color: #999999;
}
.service a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #3D3D3D;
    border-radius: 25px;      /* 보통 "border" 높이의 절반 */
    padding: 10px 40px;
    display: inline-block;      /* 인라인 요소 "a" 태그에 "padding / border"를 적용하기 위해서 준 값 */
}


.it {
    background-image: url(../images/it_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 1080px;
    padding: 220px 0 0 0;
    box-sizing: border-box;
}
.it strong {
    font-weight: 700;
    color: #FFFFFF;
}
.it p {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    margin: 30px 0 40px 0;
}
.it a {
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 25px;      /* 보통 "border" 높이의 절반 */
    padding: 10px 40px;
    display: inline-block;      /* 인라인 요소 "a" 태그에 "padding / border"를 적용하기 위해서 준 값 */
}


.bbs {
    margin: 179px 0 105px 0;
}
.bbs p {
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 105px 0;
}
.bbs p span {
    color: #999999;
}
.bbs ul {
    display: flex;
}
.bbs ul li {
    width: 290px;
    margin: 0 40px 0 0;
}
.bbs ul li.last {     /* [ "li" 태그 중에서 "last"라는 클래스명을 가진 li ] 라는 뜻 */
    margin: 0;
}
.bbs ul li a {
    color: #3D3D3D;
    text-decoration: none;
    display: block;
}
.bbs ul li a img {
    border: 1px solid #999999;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
}
.bbs ul li a strong {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    margin: 15px 0 21px 0;
}
.bbs ul li a span {
    display: block;
    color: #666666;
}
.bbs .more {
    text-align: center;
    margin: 105px 0 0 0;
}
.bbs .more a {
    color: #3D3D3D;
    text-decoration: none;
    border: 1px solid #3D3D3D;
    border-radius: 25px;      /* 보통 "border" 높이의 절반 */
    padding: 10px 40px;
    display: inline-block;      /* 인라인 요소 "a" 태그에 "padding / border"를 적용하기 위해서 준 값 */
}


.banner {
    margin: 0 0 100px 0;
}
.banner ul {
    display: flex;
}
.banner ul li {
    width: 620px;
    height: 170px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 40px 40px 40px;
    box-sizing: border-box;
}
.banner ul li.partner {    /* [ "li" 태그 중에서 "partner"라는 클래스명을 가진 li ] 라는 뜻 */
    background-color: #04C75B;
    margin: 0 40px 0 0;
}
.banner ul li.career {    /* [ "li" 태그 중에서 "partner"라는 클래스명을 가진 li ] 라는 뜻 */
    background-color: #08B4EB;
}
.banner ul li .tit strong {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.4;
}
.banner ul li .tit p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    margin: 18px 0 0 0;
}
.banner ul li a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #3D3D3D;
    border-radius: 25px;      /* 보통 "border" 높이의 절반 */
    padding: 10px 40px;
    display: inline-block;
}